@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif;

  @apply bg-[#f7f7f8] text-gray-900 dark:bg-[#0B0D10] dark:text-white;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-[#4C1D95];

  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-[#8B5CF6];
}
